@attribute [Route(Routes.NewAppointment)]
@inject HttpClient Http
@using Syncfusion.Blazor.Calendars
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using WhiteDentalClinic.Shared.Models
@using static WhiteDentalClinic.WebUI.Pages.Dentist.Dentists;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <EditForm action="https://formbold.com/s/FORM_ID" method="POST"
                  Model="@newAppointment" OnValidSubmit="@HandleValidSubmit">
            <FluentValidationValidator />
            <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> Full Name </label>
                <input type="text"
                       name="name"
                       id="name"
                       placeholder="Full Name"
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="email" class="formbold-form-label"> Email Address </label>
                <input type="email"
                       name="email"
                       id="email"
                       placeholder="Enter your email"
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="dentist" class="formbold-form-label"> Select a dentist </label>
                <select name="dentistId"
                        id="dentistId"
                        placeholder="Select a dentist"
                        class="form-control"
                        onselect="@HandleDentistApp(newAppointment.DentistId)"
                        @bind="@newAppointment.DentistId">
                    @foreach (var dentist in dentists)
                    {
                        <option value="none" selected disabled hidden>Select an option</option>
                        <option value="@dentist.Id">@dentist.FirstName @dentist.LastName</option>
                    }
                </select>
                <ValidationMessage For="@(() => newAppointment.DentistId)" />
            </div>

            @if (@newAppointment.DentistId != default(Guid))
            {
                <div class="formbold-mb-5">
                    <label for="medicalService" class="formbold-form-label"> Select a medical service </label>
                    <select name="medicalServiceId"
                        id="medicalServiceId"
                        placeholder="Select a medical service"
                        class="form-control"
                        @bind="@newAppointment.MedicalServiceId">
                        @foreach (var medService in medicalServicesBySelectedDentist)
                        {
                            <option value="none" selected disabled hidden>Select an option</option>
                            <option value="@medService.Id">@medService.Name</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => newAppointment.MedicalServiceId)" />
                </div>
                <div class="flex flex-wrap formbold--mx-3">
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5 w-full">
                            <label for="date" class="formbold-form-label"> Date </label>
                            <input type="date"
                               name="date"
                               id="date"
                               class="formbold-form-input"
                               min="@startDate.ToString("yyyy-MM-dd")"
                               max="@endDate.ToString("yyyy-MM-dd")"
                               @bind="@requestDate"/>
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <label for="time" class="formbold-form-label"> Time </label>
                            <input type="time"
                               name="time"
                               step="1800"
                               id="time"
                               class="formbold-form-input"
                               min="@startTime"
                               max="@endTime"
                               @bind="@requestTime" />
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="formbold-btn">Book Appointment</button>
                </div>
            }
        </EditForm>
    </div>
</div>

<h4 class="text-center"> @response</h4>
@*
@if (ExistAppointment == true && alertWrongBox == true)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fa fa-times warning"></i>
                        </span>
                    </button>
                    <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                    <strong class="font__weight-semibold">Warning!</strong> Your dentist is probably busy then. Please select another option.
                </div>
            </div>
        </div>
    </div>
}

@if (ExistAppointment == false && alertConfirmBox == true)
{
    <div class="container mt-5">
        <div class="row">

            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true">
                            <a>
                                <i class="fa fa-times greencross"></i>
                            </a>
                        </span>
                    </button>
                    <i class="start-icon far fa-check-circle faa-tada animated"></i>
                    <strong class="font__weight-semibold">Well done!</strong> You have successfully made an appointment.
                </div>
            </div>
        </div>
    </div>
}*@


@code {
    private List<DentistResponseModel> dentists = new List<DentistResponseModel>();
    private List<ResponseServices> medicalServicesBySelectedDentist = new List<ResponseServices>();
    private List<DateTime> appointmentsSelectedDentist = new List<DateTime>();
    //set min and max date
    private DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Today.AddDays(1).Day);
    private DateTime endDate = new DateTime(DateTime.Today.AddYears(1).Year, DateTime.Now.Month, DateTime.Now.Day);
    //set min and max time
    private TimeSpan startTime = new TimeSpan(8, 0, 0);
    private TimeSpan endTime = new TimeSpan(16, 0, 0);

    //split into date and time appointments from backend
    private List<DateTime> responseDate = new List<DateTime>();
    private List<TimeSpan> responseTime = new List<TimeSpan>();

    //request split date and time
    private DateTime requestDate = new DateTime();
    private DateTime requestTime = new DateTime();
    private DateTime requestDateTime = new DateTime();

    //response
    private bool ExistAppointment = false;
    private bool alertWrongBox = false;
    private bool alertConfirmBox = false;
    private string response = null;

    private RequestAppointment newAppointment = new RequestAppointment
        {
            CustomerId = Guid.Parse("9665bfd7-d60b-4557-b44e-80459d8c8e97") // by default an ID customer. Need to be current Id customer
        };

    protected override async Task OnInitializedAsync()
    {
        //take all dentists
        var tempDentistsList = await Http.GetFromJsonAsync<ApiResult<IEnumerable<DentistResponseModel>>>("api/Dentists");
        dentists = tempDentistsList.Result.ToList();
    }

    //take dentist appointment list
    protected async Task HandleDentistApp(Guid dentistIdSelected)
    {
        //checked
        var stringDentistIdSelected = dentistIdSelected.ToString();
        var tempAppointmentsSelectedDentist = await Http.GetFromJsonAsync<ApiResult<IEnumerable<AppointmentResponse>>>($"api/Appointments/dentists/{stringDentistIdSelected}");
        foreach (var item in tempAppointmentsSelectedDentist.Result.ToList())
        {
            appointmentsSelectedDentist.Add(item.DateTime);
        }
        foreach (var appDateTime in appointmentsSelectedDentist)
        {
            responseDate.Add(appDateTime.Date);
            responseTime.Add(appDateTime.TimeOfDay);
        }

        //take medical services by dentist id
        var tempMedicalServicesBySelectedDentist = await Http.GetFromJsonAsync<ApiResult<IEnumerable<ResponseServices>>>($"api/Dentists/medicalservices/{stringDentistIdSelected}");
        medicalServicesBySelectedDentist = tempMedicalServicesBySelectedDentist.Result.ToList();
    }


    public async Task HandleValidSubmit()
    {
        //Check if date exist
        foreach (var date in responseDate)
        {
            if (date.Date == requestDate.Date)
            {
                CheckTime(requestTime);
            }
        }
        void CheckTime(DateTime inputTime)
        {
            foreach (var time in responseTime)
            {
                if (time == requestTime.TimeOfDay)
                {
                    this.ExistAppointment = true;
                    this.response = "Sorry, please try again.";
                }
            }
        }
        if (ExistAppointment == false)
        {
            newAppointment.DateTime = requestDate.Date.Add(requestTime.TimeOfDay);
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?"); // Confirm
            if (confirmed)
            {
                var request = await Http.PostAsJsonAsync("/api/Appointments", newAppointment);
                this.response = "Thank you for your appointment";
            }
            else
            {
                NavManager.NavigateTo(Routes.Index);
            }
        }
    }
}