@page "/newappointment2"
@inject HttpClient Http
@using Syncfusion.Blazor.Calendars
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using WhiteDentalClinic.Shared.Models
@using static WhiteDentalClinic.WebUI.Pages.Dentist.Dentists;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <EditForm action="https://formbold.com/s/FORM_ID" method="POST"
                  Model="@newAppointment" OnValidSubmit="@HandleValidSubmit">
                  @*<FluentValidationValidator />*@
            <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> Full Name </label>
                <input type="text"
                       name="name"
                       id="name"
                       placeholder="Full Name"
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="email" class="formbold-form-label"> Email Address </label>
                <input type="email"
                       name="email"
                       id="email"
                       placeholder="Enter your email"
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="phone" class="formbold-form-label"> Select a dentist </label>
                <select name="dentistId"
                        id="dentistId"
                        placeholder="Select a dentist"
                        class="form-control"
                        onselect="@HandleDentistApp(newAppointment.DentistId)"
                        @bind="@newAppointment.DentistId" >
                    @foreach (var dentist in dentists)
                    {
                        <option value="none" selected disabled hidden>Select an option</option>
                        <option value="@dentist.Id">@dentist.FirstName @dentist.LastName</option>
                    }
                </select>
                <ValidationMessage For="@(() => newAppointment.DentistId)" />
            </div>
            @if (@newAppointment.DentistId != default(Guid))
            {
                <div class="flex flex-wrap formbold--mx-3">
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5 w-full">
                            <label for="date" class="formbold-form-label"> Date </label>
                            <input type="date"
                               name="date"
                               id="date"
                               class="formbold-form-input"
                               min="@startDate.ToString("yyyy-MM-dd")"
                               max="@endDate.ToString("yyyy-MM-dd")"
                               value="@requestDate"/>
@*                               <ValidationMessage For="@(() => newAppointment.dateTime)"/>
*@                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <label for="time" class="formbold-form-label"> Time </label>
                            <input type="time"
                               name="time"
                               step="1800"
                               id="time"
                               class="formbold-form-input"
                               min="@startTime"
                               max="@endTime"
                               value="@requestTime" />
@*                            <ValidationMessage For="@(() => newAppointment.dateTime)" />
*@                        </div>
                    </div>
                </div>
            }
            else
            {

            }
            <div>
                <button type="submit" class="formbold-btn">Book Appointment</button>
            </div>
        </EditForm>
    </div>
</div>
<h4> Your appointment is: @response</h4>
@*<EditForm class="d-flex flex-column align-items-left" Model="@newAppointment" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator />
    <div class="w-25 p-3">
        <label for="id" class="col-sm-2 col-form-label">Dentist: </label>
        <div class="col-sm-10">
            <InputSelect class="form-select" id="id" ValueExpression="@( () => newAppointment.DentistId)"
                                            Value="@newAppointment.DentistId"
                         ValueChanged="@( (Guid value) => {newAppointment.DentistId=value;HandleDentistApp(value);})">
                @foreach (var dentist in dentists)
                {
                    <option value="@dentist.Id">@dentist.FirstName @dentist.LastName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => newAppointment.DentistId)" />
        </div>
    </div>
    <Syncfusion.Blazor.Calendars.SfDateTimePicker TValue="DateTime?" Min='@MinDate' Max='@MaxDate' @bind-Value='@newAppointment.dateTime'
                                                  StrictMode=true Placeholder="Select a date and time"
                                                  ShowTodayButton="true"
                                                  ShowClearButton="true">
                                                  <DateTimePickerEvents TValue="DateTime?" OnRenderDayCell="@onRenderDayCellHandler"></DateTimePickerEvents>
                                                  <ValidationMessage For="@(() => newAppointment.dateTime)"/>
    </Syncfusion.Blazor.Calendars.SfDateTimePicker>
    <br />
    <button type="submit" class="btn btn-primary">Create appointment</button>
</EditForm>
<br/>
<h4> Your appointment is: @response</h4>
*@


@code {
    private List<DentistResponseModel> dentists = new List<DentistResponseModel>();

    private List<DateTime> appointmentsSelectedDentist = new List<DateTime>();
    //set min and max date
    private DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Today.AddDays(1).Day);
    private DateTime endDate = new DateTime(DateTime.Today.AddYears(1).Year, DateTime.Now.Month, DateTime.Now.Day);
    //set min and max time
    private TimeSpan startTime = new TimeSpan(8, 0, 0);
    private TimeSpan endTime = new TimeSpan(16, 0, 0);

    //split into date and time appointments from backend
    private List<DateTime> responseDate = new List<DateTime>();
    private List<TimeSpan> responseTime = new List<TimeSpan>();

    //request split date and time
    private DateTime requestDate = new DateTime();
    private TimeSpan requestTime = new TimeSpan();
    private DateTime requestDateTime = new DateTime();


    private RequestAppointment newAppointment = new RequestAppointment
        {
            CustomerId = Guid.Parse("c210cc12-7484-41b9-96da-834d2faf3aa2") // by default an ID customer. Need to be current Id customer
        };

    //check dentist's list
    protected override async Task OnInitializedAsync()
    {
        var tempDentistsList = await Http.GetFromJsonAsync<ApiResult<IEnumerable<DentistResponseModel>>>("api/Dentists/all");
        dentists = tempDentistsList.Result.ToList();
    }

    //take dentist appointment list
    protected async Task HandleDentistApp(Guid dentistIdSelected)
    {
        //checked
        var stringDentistIdSelected = dentistIdSelected.ToString();
        var tempAppointmentsSelectedDentist = await Http.GetFromJsonAsync<ApiResult<IEnumerable<AppointmentResponse>>>($"api/Appointment/allapp/dentist{stringDentistIdSelected}");
        foreach (var item in tempAppointmentsSelectedDentist.Result.ToList())
        {
            appointmentsSelectedDentist.Add(item.dateTime);
            Console.WriteLine(item.dateTime);
        }
        foreach(var appDateTime in appointmentsSelectedDentist)
        {
            responseDate.Add(appDateTime.Date);
            responseTime.Add(appDateTime.TimeOfDay);
        }
    }

    private string response = string.Empty;

    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Today.AddDays(1).Day, 02, 00, 00);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Today.AddYears(2).Year, DateTime.Now.Month, 25, 12, 00, 00);
    public DateTime? DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10);

    public void onRenderDayCellHandler(RenderDayCellEventArgs args)
    {
        if (args.Date.DayOfWeek.ToString() == "Saturday" || args.Date.DayOfWeek.ToString() == "Sunday")
        {
            args.IsDisabled = true;
        }
        //implement only dentist available dates
        foreach (var appRegister in appointmentsSelectedDentist)
        {
            if (appRegister.Date.DayOfYear == args.Date.DayOfYear)
            {
                if (appRegister.Date.TimeOfDay == args.Date.TimeOfDay)
                {
                    Console.WriteLine(appRegister.Date + " first IF: arg.date is " + args.Date);
                    args.IsDisabled = true;
                }
            }
        }
    }

    public async Task HandleValidSubmit()
    {   
        //Check if date exist
        foreach (var date in responseDate)
        {
            if(date.Date == requestDate)
            {
               await CheckTime(requestTime);
            }
        }
        async Task CheckTime(TimeSpan inputTime)
        {
            foreach(var time in responseTime)
            {
                if(time == requestTime)
                {
                    await JsRuntime.InvokeVoidAsync("alert", "You can't creat this appointment. In your database is already one.");
                    Thread.Sleep(2000);
                }
            }
        }

        newAppointment.dateTime = requestDate.Date.Add(requestTime);
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?"); // Confirm
        if (confirmed)
        {
            var request = await Http.PostAsJsonAsync("/api/Appointment", newAppointment);
            this.response = await request.Content.ReadAsStringAsync();

        }
        else
        {
            NavManager.NavigateTo(Routes.Index);
        }
    }

    //Dialog
    public bool IsVisible { get; set; } = true;
    private void OnDialogBtnClick()
    {
        IsVisible = false;
    }
    private void OnOpenBtnClick()
    {
        IsVisible = true;
    }
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", Arial, Helvetica, sans-serif;
    }

    .formbold-mb-5 {
        margin-bottom: 20px;
    }

    .formbold-pt-3 {
        padding-top: 12px;
    }

    .formbold-main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px;
    }

    .formbold-form-wrapper {
        margin: 0 auto;
        max-width: 550px;
        width: 100%;
        background: white;
    }

    .formbold-form-label {
        display: block;
        font-weight: 500;
        font-size: 16px;
        color: #07074d;
        margin-bottom: 12px;
    }

    .formbold-form-label-2 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .formbold-form-input {
        width: 100%;
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        color: #6b7280;
        outline: none;
        resize: none;
    }

        .formbold-form-input:focus {
            border-color: #6a64f1;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

    .formbold-btn {
        text-align: center;
        font-size: 16px;
        border-radius: 6px;
        padding: 14px 32px;
        border: none;
        font-weight: 600;
        background-color: #6a64f1;
        color: white;
        width: 100%;
        cursor: pointer;
    }

        .formbold-btn:hover {
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

    .formbold--mx-3 {
        margin-left: -12px;
        margin-right: -12px;
    }

    .formbold-px-3 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .w-full {
        width: 100%;
    }

    }</style>

