@attribute [Route(Routes.Dentists)]
@using WhiteDentalClinic.Shared
@inject HttpClient Http
@using System.Text.Json
@using WhiteDentalClinic.Shared.Models
@inject NavigationManager NavManager



@if (dentists == null)
{
    <p><em>No dentists found.</em></p>
}
else
{
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">
            <p><br /></p>
        </div>

        <div class="container">

            <div class="section-title">
                <h2 class="text-center">
                    Meet the team
                </h2>
                <br/>
                <p class="text-center">
                    White Dental Clinic opened its doors in central London in 2015, welcoming patients from all over and providing with high-quality dental care.<br/>

                    This first-class clinic is serviced by dentists, who are passionate about raising the standard of oral health and providing natural beautiful smiles for their patients. By listening to your wishes, our dentists will build a safe bespoke plan offering treatment solution.<br/>

                    Meet the team behind our White Dental Clinic success!
                </p>
            </div>

            <div class="row">
                @foreach (var dentist in dentists.OrderBy(a => a.FirstName))
                {
                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>@dentist.FirstName @dentist.LastName</h4>
                                <span><button class="btn btn-primary" onclick="@( () => {NavManager.NavigateTo($"/available/{dentist.Id.ToString()}");})"> Check availability</button></span>
                                <p>Age: @dentist.Age</p>
                                <p>Email address: @dentist.Email</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"><MudIcon Icon="@Icons.Custom.Brands.Gmail" Title="Gmail" /></i></a>
                                    <a href=""><i class="ri-facebook-fill"><MudIcon Icon="@Icons.Custom.Brands.Facebook" Title="Facebook" /></i></a>
                                    <a href=""><i class="ri-instagram-fill"><MudIcon Icon="@Icons.Custom.Brands.Twitter" Title="Twitter" /></i></a>
                                    <a href=""><i class="ri-linkedin-box-fill"></i><MudIcon Icon="@Icons.Custom.Brands.YouTube" Title="YouTube" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="container">
            <p><br /></p>
        </div>

    </section>
    <!-- End Doctors Section -->
}


@code {
    private List<DentistResponseModel> dentists = new List<DentistResponseModel>();

    protected override async Task OnInitializedAsync()
    {
        var temp = await Http.GetFromJsonAsync<ApiResult<IEnumerable<DentistResponseModel>>>("api/Dentists");
        dentists = temp.Result.ToList();
    }

    public class DentistResponseModel
    {
        public Guid Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
        public string Email { get; set; }

    }
}
