@page "/Appointments/{Id}"
@using WhiteDentalClinic.Shared.Models;
@using static WhiteDentalClinic.WebUI.Pages.Dentist.Dentists;
@inject HttpClient Http
@inject NavigationManager NavManager


<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                    @if (selectedAppointment == null)
                    {
                        <h3 class="text-dark mb-3">Appointment not found.</h3>
                    }
                    else
                    {
                        <h3 class="text-dark mb-3">Your appointment from: @selectedAppointment.DateTime.Day @selectedAppointment.DateTime.ToString("MMMM") @selectedAppointment.DateTime.Year<br/></h3>
                        <p class="text-dark mb-3">
                            Our dentist, @selectedDentist.FirstName @selectedDentist.LastName will take care of the health of your teeth! <br/>
                            You can contact him by email: <b>@selectedDentist.Email</b><br />
                            The cost of this service will be <i>@selectedMedicalService.Price $</i>. You can pay cash or credit card!
                            </p>
                    }
                </div>
            </div>

            <div class="col-lg-7">
                <div class="section-title mb-5">
                    <h1 class="display-5 mb-0 text-center">We Offer The Best Quality Dental Services</h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Cosmetic Dentistry</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Dental Implants</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Dental Bridges</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-4.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Teeth Whitening</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <h2 class="text-dark mb-0">Thank you and for more details, please contact us: 021 489 533</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

@code {
    [Parameter]
    public string Id { get; set; }
    private AppointmentResponse selectedAppointment = null;
    private ResponseServices selectedMedicalService = null;
    private DentistResponseModel selectedDentist = null;
    private List<ResponseServices> medicalServicesByDentistId = new List<ResponseServices>();
    private DentistResponseModel selectedDentistDetails = new DentistResponseModel();

    private Guid? dentistId = null;  // default a random ID dentist

    //by default a customer ID (current)
    private Guid currentRequesCustomertId = Guid.Parse("9665bfd7-d60b-4557-b44e-80459d8c8e97");  
    
    protected override async Task OnParametersSetAsync()
    {
        var tempApp = await Http.GetFromJsonAsync<ApiResult<AppointmentResponse>>($"/api/Appointments/{Id}");
        this.selectedAppointment = tempApp.Result;
        await TakeMoreDetails();
    }

    private async Task TakeMoreDetails()
    {
        var tempMedicalService = await Http.GetFromJsonAsync<ApiResult<ResponseServices>>($"/api/MedicalServices/{selectedAppointment.MedicalServiceId}");
        this.selectedMedicalService = tempMedicalService.Result;

        var tempDentist = await Http.GetFromJsonAsync<ApiResult<DentistResponseModel>>($"/api/Dentists/{selectedAppointment.DentistId}");
        this.selectedDentist = tempDentist.Result;
    }
}