@using WhiteDentalClinic.Shared.Models;
@using static WhiteDentalClinic.WebUI.Pages.Dentist.Dentists;
@attribute [Route(Routes.DentistInfo)]
@inject HttpClient Http
@inject NavigationManager NavManager



<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
                <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="img/before.jpg" style="object-fit: cover;">
                    <img class="position-absolute w-100 h-100" src="img/after.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title mb-5">
                    <h1 class="display-5 mb-0">We Offer The Best Quality Dental Services</h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Cosmetic Dentistry</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Dental Implants</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Dental Bridges</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="img/service-4.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Teeth Whitening</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                    <h3 class="text-white mb-3">Make Appointment</h3>
                    <p class="text-white mb-3">Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est magna stet eirmod</p>
                    <h2 class="text-white mb-0">+0123 456 789</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->



<h3>Select your appointments:</h3>

<div class="w-25 p-3">
    <select class="form-control" @bind-value="dentistId" @onchange="HandleAppChange" @bind-value:event="oninput">
        @foreach (var item in appointmentsByCustomer)
        {
            <option value="@item.DentistId">
                @item.dateTime
            </option>
        }
    </select>
</div>

<h5>The medical services of the dentist @selectedDentistDetails.FirstName @selectedDentistDetails.LastName are:</h5>

@if (medicalServicesByDentistId == null)
{
    <p><em>No medical service.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ms in medicalServicesByDentistId)
            {
                <tr>
                    <td>@ms.Id</td>
                    <td>@ms.Name</td>
                    <td>@ms.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

<h5>For more information, you can contact him at the email address: <i>@selectedDentistDetails.Email</i></h5>


@code {
    private List<ResponseServices> medicalServicesByDentistId = new List<ResponseServices>();

    private List<AppointmentResponse> appointmentsByCustomer = new List<AppointmentResponse>();

    private DentistResponseModel selectedDentistDetails = new DentistResponseModel();

    private Guid? dentistId = null;  // default a random ID dentist

    //by default a customer ID
    private Guid currentRequesCustomertId = Guid.Parse("c210cc12-7484-41b9-96da-834d2faf3aa2");    //by default an ID but need to be modify (Dentist / Customer!)

    protected override async Task OnInitializedAsync()
    {
        //take all appointments
        var tempAppByCustomerId = await Http.GetFromJsonAsync<ApiResult<IEnumerable<AppointmentResponse>>>($"/api/Appointments/customers/{currentRequesCustomertId}");
        appointmentsByCustomer = tempAppByCustomerId.Result.ToList();

    }

    private async Task HandleAppChange()
    {
        //take all medical services by dentist ID
        var tempMedicalServices = await Http.GetFromJsonAsync<ApiResult<IEnumerable<ResponseServices>>>($"/api/Dentists/medicalservices/{dentistId}");
        medicalServicesByDentistId = tempMedicalServices.Result.ToList();

        //take dentist detalist from backend
        var tempDentistInfo = await Http.GetFromJsonAsync<ApiResult<DentistResponseModel>>($"api/Dentists/{dentistId}");
        selectedDentistDetails = tempDentistInfo.Result;
    }
}
